.container {
    margin: 1rem;
}

.mains {
    margin: 5rem 0;
    text-align: center;
}

.mains__title {
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: rgb(70, 71, 68);
}

.main__container {
    display: flex;
    flex-direction:  column;
}

.main{
    margin-bottom: 1rem;
}

.main__image {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.main__title {
    color: rgb(70, 71, 68);
    font-size: 1.95rem;
    margin-bottom: 0.5rem;
}

.main__date {
    color: #64748b;
}

@media (min-width: 768px) {
    .main__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }

    .main {
        flex-basis: 25%;
        padding: 1rem;
    }
}